
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #13131362;
    }
  
    .Calculator {
      display: grid;
      justify-content: center;
      align-content: center;
      min-height: 100vh;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: minmax(120px, auto) repeat(5, 100px);
      }
  
      .Calculator > button {
        cursor: pointer;
        font-size: 2rem;
        border: #000000;
        outline: none;
        background-color: #5d9164b0;
      }
  
        .Calculator > button:hover {
          background-color: #00000075;
        }
  
        .span-two {
          grid-column: span 2;
          color: #000000;
          background-color: #000000;
        }
  
        .output{
          grid-column: 1 / -1;
          background-color: #5200d6ab;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          flex-direction: column;
          padding: 10px;
          word-wrap: break-word;
          word-break: break-all;
        }
  
        .output .previous-operand{
          color: rgb(0, 0, 0);
          font-size: 1.5rem;
        }
  
        .output .current-operand{
          color: rgb(0, 0, 0);
          font-size: 2.5rem;
        }