body
{
	font-family: georgia;
	color: #fafafa ;
	background-color: #001b33;
	width: 750px;
	margin: 0 auto;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: rgb(0, 0, 0);
}

th, td, li
{
	border: 1px solid rgb(189, 180, 180);
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: rgb(151, 151, 151);
}