body
{
	font-family: Cochin;
	color: lightgoldenrodyellow ;
	background-color:darkred;
    margin-left: 75px;
	margin-right: 75px;
	font-size: 15px;
}


header, footer
{
	text-align: center;
	color:lightgoldenrodyellow;
	font-weight: bold;
	font-size: 15px;
}

h1, h2, h3
{
	color: lightgoldenrodyellow;
	font-family: Cambria, Cochin, Georgia, Times;
	text-align: center;
	font-size: 15px;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: darkred;
	color: #fff; }


h3
{
	font-size: 200%;
	line-height: 0px;
	font-size: 18px;
}

a
{
	text-decoration: none;
	color:lightgoldenrodyellow;
	font-size: 18px;
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
  

}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}


