body {
    background-color: rgba(70, 70, 70, 0);
  }

header, footer
{
	color:rgba(70, 70, 70, 0.712);
    text-align: center;
	font-size: 40px;
}

h1, h2, h3
{
	color:rgba(70, 70, 70, 0.712);
	text-align: center;
	font-size: 40px;
}

a
{
	color:rgba(70, 70, 70, 0.712);
	font-size: 18px;
    text-align: center;
}

.text-center {
	text-align: center;
}

nav
{
    color:rgba(70, 70, 70, 0.712);
	text-align: center;
}

p
{
	color:rgba(70, 70, 70, 0.712);
    text-align: center;
}

figure {
    text-align: center;
}

.caption
{
    text-align: center;
    font-size: 16px;
    margin:10px 25px
}

.row {
    text-align: center;
    display:flex;
    justify-content:center;
}


